* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
}