.header .container {
    display: flex;
    flex-direction: row;
}

.header .container_info .info:hover {
    background-color: #3568aa;
    border: 2px solid #3568aa;
    transform: scale(0.99);
}

@media (min-width: 0px) and (max-width: 500px) {

    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        z-index: 999;
    }

    .header .wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100dvh;
        background-color: #00000046;
        backdrop-filter: blur(15px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .container_info {
        display: flex;
        flex-direction: column;
    }
    
    .header .container_info .info {
        margin-bottom: 10px;
        padding: 13px 10px;
        border-radius: 7.5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #000;
        border: 2px solid hsla(0, 0%, 100%, .2);
        transition: 0.3s background-color, 0.3s border-color, 0.3s transform;
        cursor: pointer;
    }

    .header .container_info .info .icon {
        width: 22px;
        margin-right: 10px;
        font-size: 18px;
    }

    .header .container_info .info p {
        font-size: 15px;
        font-weight: 500;
    }
}

@media (min-width: 500px) {

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        z-index: 999;
    }
}

@media (min-width: 500px) and (max-width: 1400px) {

    .header .wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: #00000046;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .container_info {
        width: 350px;
        display: flex;
        flex-direction: column;
    }
    
    .header .container_info .info {
        margin-bottom: 10px;
        padding: 12px 15px;
        border-radius: 7.5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #000;
        border: 2px solid hsla(0, 0%, 100%, .2);
        transition: 0.3s background-color, 0.3s border-color, 0.3s transform;
        cursor: pointer;
    }

    .header .container_info .info .icon {
        margin-right: 10px;
        font-size: 22px;
    }

    .header .container_info .info p {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 1400px)  {

    .header .container_info {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }
    
    .header .container_info .info {
        margin-right: 10px;
        padding: 10px 15px;
        border-radius: 7.5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #000;
        border: 2px solid hsla(0, 0%, 100%, .2);
        transition: 0.3s background-color, 0.3s border-color, 0.3s transform;
        cursor: pointer;
    }

    .header .container_info .info .icon {
        margin-right: 10px;
        font-size: 22px;
    }

    .header .container_info .info p {
        font-size: 16px;
        font-weight: 500;
    }
}